@import './_vars.scss'; // 引入公共变量
@import './_flex.scss'; // 引入flex布局

/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
// 线上
// @font-face {
//   font-family: "思源黑体 Normal";font-weight: 350;src: url("//at.alicdn.com/wf/webfont/NmEO4AutL8gE/At3M1cWZF3hLjMDdoaJlQ.woff2") format("woff2"),
//   url("//at.alicdn.com/wf/webfont/NmEO4AutL8gE/KbNYrIvrEIYsL_WpdVDja.woff") format("woff");
//   font-display: swap;
// }
// 颜色高亮
.highlight {
  color: $colorTheme;
}
// 超出省略号，有width情况下生效
.ellipsis {
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

// 本地
@font-face {
  font-family: "思源黑体 Normal";
  font-weight: 350;
  src: url("~@/static/font/Jky9mYSZqzqXq4oMr0NIL.woff2") format("woff2"),
    url("~@/static/font/Jky9mYSZqzqXq4oMr0NIL.woff") format("woff");
  font-display: swap;
}

// @font-face { font-family: test; font-weight: normal; font-style: normal; src: url("~@/static/test.ttf") format("truetype"); }
// 全局global样式
// 设置宽度为100%（兼容APP）
.g-w-full {
  width: 100%;
}

// 底部按钮
.g-footer-btn {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  left: 0;
  bottom: 70rpx;
  padding: 0 32rpx;
  z-index: 99999;
}

// 全局步骤条样式修改（修改的样式在steps-wrap下才生效,避免污染原有样式）
.g-steps-wrap .u-steps {

  // 左侧-图标
  .u-steps-item__wrapper {
    width: 32px !important;
    height: 32px;
  }

  // 左侧-步骤线
  .u-steps-item__line--column {
    left: 32rpx !important;
    background-color: $colorBorder !important;
  }

  .u-steps-item--column {
    padding-bottom: 13px !important;
  }

  .u-steps-item__content--column {
    margin-top: 0rpx !important;
  }

  // 右侧-文字、描述
  .u-text__value {
    font-size: 28rpx !important;
  }

  .u-text__value--tips {
    font-size: 24rpx !important;
    color: #86909C !important;
  }
}

// 底部菜单栏-默认样式修改
.g-tabbar-wrap {
  .u-tabbar__content {
    box-shadow: 0rpx 0rpx 20rpx 0rpx rgba(0, 0, 0, 0.15) !important;
  }

  .u-icon__icon {
    font-size: 43rpx !important;
  }

  .u-tabbar-item__text {
    font-size: 24rpx !important;
  }
}